{% from "nhsuk/components/card/macro.njk" import card as nhsukCard %}

{% if params.columns == 2 %}{% set grid = "one-half" %}
{% elif params.columns == 3 %}{% set grid = "one-third" %}
{% elif params.columns == 4 %}{% set grid = "one-quarter" %}
{% else %}{% set grid = "full" %}{% endif %}

<ul class="nhsuk-grid-row nhsuk-card-group">
{% set items = getData(params.items) | itemsFromCollection(params.limit) %}
{% for item in items %}
  <li class="nhsuk-grid-column-{{ grid }} nhsuk-card-group__item">
    {{ nhsukCard({
      clickable: item.href and params.clickable,
      primary: params.type == "primary",
      secondary: params.type == "secondary",
      heading: item.heading,
      headingClasses: "nhsuk-u-font-size-22" if params.title else "nhsuk-u-font-size-26" + (" nhsuk-u-margin-bottom-2" if item.descriptionHtml else ""),
      headingLevel: 3 if params.title else 2,
      href: item.href,
      descriptionHtml: item.descriptionHtml,
      imgALT: item.imgALT,
      imgURL: item.imgURL
    }) | indent(4) }}
  </li>
{% endfor %}
</ul>
