<aside class="app-related{% if layout == "collection" or layout == "page" or layout == "post" or layout == "sub-navigation" %} nhsuk-u-reading-width{% endif %}">
{% for related in ([params] if params is mapping else params) %}
  <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">
    {{- related.title or "Related" -}}
  </h2>
  {{ related.description | markdown if related.description }}
  {% if related.items %}
  <ul class="nhsuk-list">
  {% for item in related.items %}
    <li>
      <a class="nhsuk-link" href="{{ item.href }}">{{ item.text }}</a>
    </li>
  {% endfor %}
  </ul>
  {% endif %}
{% endfor %}
</aside>
