@use "../../vendor/nhsuk-frontend" as *;

@include nhsuk-exports("nhsuk-eleventy-plugin/components/sub-navigation") {
  .app-sub-navigation {
    @include nhsuk-responsive-margin(7, "bottom");
  }

  .app-sub-navigation__heading {
    color: $nhsuk-secondary-text-colour;
    margin-bottom: 12px;
    padding-top: nhsuk-spacing(1);

    @include nhsuk-font(19, $line-height: 1.25, $weight: bold);
  }

  .app-sub-navigation__list {
    @include nhsuk-font(16, $line-height: 1.25);
    @include nhsuk-responsive-margin(4, "bottom");
  }

  .app-sub-navigation__item {
    padding-bottom: nhsuk-spacing(1);
    padding-top: nhsuk-spacing(1);
  }

  .app-sub-navigation__item--current {
    border-left: $nhsuk-border-width solid $nhsuk-brand-colour;
    margin-left: #{$nhsuk-gutter-half * -1};
    padding-left: #{$nhsuk-gutter-half - $nhsuk-border-width};

    .app-sub-navigation__link {
      font-weight: $nhsuk-font-bold;
    }
  }

  .app-sub-navigation__link {
    @include nhsuk-link-style-default;
    @include nhsuk-link-style-no-visited-state;

    &:link {
      text-decoration: none;
    }
  }

  .app-sub-navigation__list--nested {
    @include nhsuk-responsive-margin(2, "bottom");
    @include nhsuk-responsive-margin(3, "top");

    .app-sub-navigation__item {
      display: flex;
      gap: nhsuk-spacing(1);
      list-style: none;

      @include nhsuk-font(16, $line-height: 1.3);

      &::before {
        color: nhsuk-colour("grey-3");
        content: "—";
        margin-left: nhsuk-spacing(-3);
      }
    }

    .app-sub-navigation__link {
      font-weight: 400;
    }
  }

  .app-sub-navigation__link[aria-current] {
    font-weight: bold;
  }
}
