@use "../../vendor/nhsuk-frontend" as *;

@include nhsuk-exports("nhsuk-eleventy-plugin/components/govspeak") {
  // Information callout
  // https://components.publishing.service.gov.uk/component-guide/govspeak/information_callout
  [data-govspeak="information-callout"] {
    @extend .nhsuk-inset-text;
  }

  // Blockquote
  // https://components.publishing.service.gov.uk/component-guide/govspeak/blockquote
  // https://github.com/alphagov/govuk_publishing_components/blob/main/app/assets/stylesheets/govuk_publishing_components/components/govspeak/_typography.scss
  blockquote[data-govspeak="blockquote"] {
    margin: 0 0 nhsuk-spacing(4);
    padding: 0 0 0 nhsuk-spacing(6);

    p {
      position: relative;

      &::before {
        content: "\201C";
        position: absolute;
        right: 100%;
      }

      &:last-of-type::after {
        content: "\201D";
      }
    }
  }
}
