{% from "nhsuk/components/button/macro.njk" import button as nhsukButton %}

{%- set classNamesHeading = "nhsuk-hero__heading" -%}

{%- if params.headingSize and
  params.headingSize in ["xxs", "xs", "s", "m", "l", "xl"] and (
    not params.headingClasses or (
      not "nhsuk-heading-xxs" in params.headingClasses and
      not "nhsuk-heading-xs" in params.headingClasses and
      not "nhsuk-heading-s" in params.headingClasses and
      not "nhsuk-heading-m" in params.headingClasses and
      not "nhsuk-heading-l" in params.headingClasses and
      not "nhsuk-heading-xl" in params.headingClasses
    )
  )
%}
  {% set classNamesHeading = classNamesHeading ~ " nhsuk-heading-" ~ params.headingSize %}
{% endif %}

{%- if params.headingClasses %}
  {% set classNamesHeading = classNamesHeading ~ " " ~ params.headingClasses %}
{% endif %}

<div class="nhsuk-hero">
  <div class="nhsuk-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-hero__wrapper">
          {% if params.caption %}
          <span class="nhsuk-caption-xl app-hero__caption">
            {{- params.caption -}}
          </span>
          {% endif %}
          {% if params.title %}
          <h1 class="{{ classNamesHeading }}">
            {{- params.title | smart -}}
          </h1>
          {% endif %}
          {% if params.description %}
          <p class="nhsuk-body-l{% if not params.startButton %} nhsuk-u-margin-bottom-0{% endif %}">
            {{- params.description | markdown("inline") | noOrphans -}}
          </p>
          {% endif %}
          {{ nhsukButton({
            classes: "nhsuk-button--reverse nhsuk-u-margin-0",
            href: params.startButton.href,
            text: params.startButton.text | default("Get started")
          }) | indent(10) if params.startButton }}
        </div>
      </div>
      {% if params.image %}
      <div class="nhsuk-grid-column-one-third">
        <img class="app-hero__image" src="{{ params.image.src }}" alt="{{ params.image.alt }}"{% if not params.image.alt %} role="presentation"{% endif %}>
      </div>
      {% endif %}
    </div>
  </div>
</div>
