@use "../../vendor/nhsuk-frontend" as *;

// Use same colour for inline code as that used on NHS.UK Digital service manual.
// https://github.com/nhsuk/nhsuk-service-manual/blob/main/app/stylesheets/app/_code-highlight.scss
$_code-colour: #dd1144;

@include nhsuk-exports("nhsuk-eleventy-plugin/components/code") {
  .app-code--inline,
  .app-code--block {
    font-family: ui-monospace, monospace;
    -webkit-font-smoothing: auto;
  }

  .app-code--inline {
    background-color: nhsuk-colour("white");
    color: $_code-colour;
    font-size: 0.875em;
    padding: 2px nhsuk-spacing(1);

    a & {
      color: inherit;
    }

    // Ensure links within inline code blocks receive focus colour
    a:focus & {
      background: $nhsuk-focus-colour;
    }
  }

  .app-code--block {
    background-color: nhsuk-colour("white");
    overflow: auto;
    padding: nhsuk-spacing(4);
    scrollbar-color: nhsuk-colour("grey-1") $nhsuk-border-colour;
    scrollbar-width: thin;

    @include nhsuk-font(16, $line-height: 1.4);
    @include nhsuk-responsive-margin(4, "bottom");

    + .nhsuk-heading-l {
      padding-top: nhsuk-spacing(4);
    }

    + .nhsuk-heading-m,
    + .nhsuk-heading-s {
      padding-top: nhsuk-spacing(2);
    }

    &:focus {
      box-shadow: 0 0 0 #{$nhsuk-focus-width * 2} $nhsuk-focus-colour;
      outline: $nhsuk-focus-width solid nhsuk-colour("black");
    }
  }

  // Reverse the colour of code that uses shell highlighting
  .app-code__language--shell {
    background-color: nhsuk-colour("black");
    border: $nhsuk-focus-width solid nhsuk-colour("white");
    -webkit-font-smoothing: auto;
    margin-left: $nhsuk-focus-width * -1;
    margin-right: $nhsuk-focus-width * -1;

    code {
      filter: invert(100%);
    }
  }

  .app-code__comment,
  .app-code__quote {
    color: nhsuk-tint(nhsuk-colour("grey-1"), 30);
    font-style: italic;
  }

  .app-code__keyword,
  .app-code__selector-tag,
  .app-code__subst {
    color: nhsuk-colour("black");
    font-weight: bold;
  }

  .app-code__number,
  .app-code__literal,
  .app-code__variable,
  .app-code__template-variable,
  .app-code__tag .app-code__attr {
    color: nhsuk-colour("green");
  }

  .app-code__string,
  .app-code__doctag {
    color: nhsuk-colour("red");
  }

  .app-code__title,
  .app-code__section,
  .app-code__selector-id {
    color: nhsuk-colour("purple");
    font-weight: bold;
  }

  .app-code__subst {
    font-weight: normal;
  }

  .app-code__type,
  .app-code__class .app-code__title {
    color: nhsuk-colour("dark-pink");
    font-weight: bold;
  }

  .app-code__tag,
  .app-code__name,
  .app-code__attribute {
    color: $nhsuk-link-active-colour;
    font-weight: normal;
  }

  .app-code__regexp,
  .app-code__link {
    color: nhsuk-colour("green");
  }

  .app-code__symbol,
  .app-code__bullet {
    color: nhsuk-colour("purple");
  }

  .app-code__builtin,
  .app-code__builtin-name {
    color: nhsuk-colour("blue");
  }

  .app-code__meta {
    color: nhsuk-colour("grey-1");
    font-weight: bold;
  }

  .app-code__deletion {
    background: nhsuk-tint(nhsuk-colour("red"), 80);
  }

  .app-code__addition {
    background: nhsuk-tint(nhsuk-colour("green"), 80);
  }

  .app-code__emphasis {
    font-style: italic;
  }

  .app-code__strong {
    font-weight: bold;
  }
}
