@use "../../vendor/nhsuk-frontend" as *;

// Use same colour for inline code as that used on NHS.UK Digital service manual.
// https://github.com/nhsuk/nhsuk-service-manual/blob/main/app/stylesheets/app/_code-highlight.scss
$_code-colour: #dd1144;

@include nhsuk-exports("nhsuk-eleventy-plugin/components/code") {
  .app-code__comment,
  .app-code__quote {
    color: nhsuk-tint(nhsuk-colour("grey-1"), 30);
    font-style: italic;
  }

  .app-code__keyword,
  .app-code__selector-tag,
  .app-code__subst {
    color: nhsuk-colour("black");
    font-weight: bold;
  }

  .app-code__number,
  .app-code__literal,
  .app-code__variable,
  .app-code__template-variable,
  .app-code__tag .app-code__attr {
    color: nhsuk-colour("green");
  }

  .app-code__string,
  .app-code__doctag {
    color: nhsuk-colour("red");
  }

  .app-code__title,
  .app-code__section,
  .app-code__selector-id {
    color: nhsuk-colour("purple");
    font-weight: bold;
  }

  .app-code__subst {
    font-weight: normal;
  }

  .app-code__type,
  .app-code__class .app-code__title {
    color: nhsuk-colour("dark-pink");
    font-weight: bold;
  }

  .app-code__tag,
  .app-code__name,
  .app-code__attribute {
    color: $nhsuk-link-active-colour;
    font-weight: normal;
  }

  .app-code__regexp,
  .app-code__link {
    color: nhsuk-colour("green");
  }

  .app-code__symbol,
  .app-code__bullet {
    color: nhsuk-colour("purple");
  }

  .app-code__builtin,
  .app-code__builtin-name {
    color: nhsuk-colour("blue");
  }

  .app-code__meta {
    color: nhsuk-colour("grey-1");
    font-weight: bold;
  }

  .app-code__deletion {
    background: nhsuk-tint(nhsuk-colour("red"), 80);
  }

  .app-code__addition {
    background: nhsuk-tint(nhsuk-colour("green"), 80);
  }

  .app-code__emphasis {
    font-style: italic;
  }

  .app-code__strong {
    font-weight: bold;
  }
}
