@use "../../vendor/nhsuk-frontend" as *;

@include nhsuk-exports("nhsuk-eleventy-plugin/components/footnotes-list") {
  // Link to footnote
  a[aria-describedby="footnotes-label"] {
    @include nhsuk-font(16);
    @include nhsuk-link-style-no-visited-state;
  }

  a[aria-describedby="footnotes-label"]::before {
    color: currentcolor;
    content: "[";
  }

  a[aria-describedby="footnotes-label"]::after {
    color: currentcolor;
    content: "]";
  }

  // Footnotes
  .app-footnotes-list {
    counter-reset: footnotes;
    list-style-type: none;
    padding-left: 0;

    li {
      counter-increment: footnotes;
      padding: nhsuk-spacing(3);
      padding-left: nhsuk-spacing(8);
      position: relative;
    }

    li::before {
      content: counter(footnotes) ".";
      left: nhsuk-spacing(4);
      position: absolute;
    }

    a[aria-label="Back to content"] {
      position: relative;
      text-underline-offset: 0;
      top: 2px;

      @include nhsuk-link-style-no-visited-state;
    }

    :target {
      background-color: nhsuk-tint($nhsuk-focus-colour, 75%);
    }

    :last-child {
      margin-bottom: 0;
    }
  }
}
