@use "../../vendor/nhsuk-frontend" as *;

@include nhsuk-exports("nhsuk-eleventy-plugin/components/prose-scope") {
  .app-prose-scope {
    @include nhsuk-responsive-margin(7, "bottom");

    // Distinguish inserted text from that inside links
    ins {
      text-decoration-style: double;
    }

    // Use NHS.UK pale yellow colour for highlighted text
    mark {
      background-color: nhsuk-colour("pale-yellow");
    }

    // Use sensible defaults for embedded media
    iframe,
    img,
    video {
      height: auto;
      max-width: 100%;
      width: auto;
    }

    a:focus > img {
      @include nhsuk-focused-box;
    }

    // Heading anchor
    [class^="nhsuk-heading"][tabindex] {
      outline: none;
    }

    [class^="nhsuk-heading"][tabindex] .nhsuk-link {
      @include nhsuk-link-style-text;

      // stylelint-disable no-duplicate-selectors
      & {
        text-decoration: none;
      }

      &:hover::after,
      :target &::after {
        color: nhsuk-colour("grey-1");
        content: "#";
        font-variant: all-small-caps;
        font-weight: normal;
        margin-left: nhsuk-spacing(1);
        opacity: 0.5;
      }
    }

    // Responsive table
    .nhsuk-table[tabindex] {
      display: block;
      overflow-x: auto;
      scrollbar-color: nhsuk-colour("grey-1") $nhsuk-border-colour;
      scrollbar-width: thin;

      &:focus,
      &:focus-visible {
        box-shadow:
          0 0 0 #{$nhsuk-focus-width * 3} nhsuk-colour("black"),
          0 0 0 #{$nhsuk-focus-width * 4} $nhsuk-focus-colour;
        outline: #{$nhsuk-focus-width * 2} solid nhsuk-colour("grey-5");
      }

      &:focus:not(:focus-visible) {
        box-shadow: none;
        outline: none;
      }
    }
  }
}
