{% from "nhsuk/components/card/macro.njk" import card as nhsukCard %}

<div class="nhsuk-u-reading-width">
{% if params.items.length > 0 %}
  <ol class="nhsuk-grid-row nhsuk-card-group{%- if params.classes %} {{ params.classes }}{% endif %}">
  {% for item in params.items | itemsFromCollection %}
    <li class="nhsuk-grid-column-full nhsuk-card-group__item">
      {{ nhsukCard({
        secondary: true,
        heading: item.heading,
        headingClasses: params.headingClasses or "nhsuk-u-font-size-22" + (" nhsuk-u-margin-bottom-2" if item.descriptionHtml else ""),
        headingLevel: params.headingLevel or 2,
        href: item.href,
        descriptionHtml: item.descriptionHtml
      }) | indent(6) }}
    </li>
  {% endfor %}
  </ol>
{% else %}
  <p class="nhsuk-body">No documents found.</p>
{% endif %}
</div>
