{% extends "nhsuk/template.njk" %}

{% set themeColor = options.themeColor | default("#005eb8", true) -%}

{#- Set the opengraphImageUrl in parent template to either the one
    from the page metadata or else fallback to the generic one from options. -#}
{% set opengraphImage = image if image.opengraphImage else opengraphImage %}
{% set opengraphImageUrl = (opengraphImage.src | canonicalUrl) if opengraphImage else options.opengraphImageUrl %}

{# Pagination #}
{% set pageNumber = pagination.pageNumber + 1 %}
{% set pageCount = pagination.pages | length %}

{# Navigation #}
{% set breadcrumbItems = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: includeInBreadcrumbs, allowMissing: true }) | itemsFromNavigation(page.url, options) if eleventyNavigation.key %}
{% set showBreadcrumbs = options.showBreadcrumbs != false and breadcrumbItems | length > 0 %}

{% from "nhsuk/components/breadcrumb/macro.njk" import breadcrumb as nhsukBreadcrumb %}
{% from "nhsuk/components/footer/macro.njk" import footer as nhsukFooter %}
{% from "nhsuk/components/header/macro.njk" import header as nhsukHeader %}
{% from "nhsuk/components/images/macro.njk" import image as nhsukImage %}
{% from "nhsuk/components/pagination/macro.njk" import pagination as nhsukPagination %}

{% from "components/card-group/macro.njk" import appCardGroup with context %}
{% from "components/document-header/macro.njk" import appDocumentHeader %}
{% from "components/document-list/macro.njk" import appDocumentList %}
{% from "components/heading/macro.njk" import appHeading %}
{% from "components/hero/macro.njk" import appHero with context %}
{% from "components/metadata/macro.njk" import appMetadata %}
{% from "components/prose-scope/macro.njk" import appProseScope %}
{% from "components/related/macro.njk" import appRelated with context %}
{% from "components/sub-navigation/macro.njk" import appSubNavigation %}

{% block headIcons %}
  {%- if options.icons.shortcut %}<link rel="icon" href="{{ options.icons.shortcut }}" sizes="any">{% endif %}
  {%- if options.icons.mask %}<link rel="mask-icon" href="{{ options.icons.mask }}" color="{{ themeColor }}">{% endif %}
  {%- if options.icons.touch %}<link rel="apple-touch-icon" href="{{ options.icons.touch }}">{% endif %}
{% endblock %}

{% block head %}
  <script src="/assets/application.js" type="module"></script>

  {% for stylesheet in options.stylesheets %}
  <link rel="stylesheet" href="{{ stylesheet }}">
  {% else %}
  <link rel="stylesheet" href="{{ "/assets/application.css" }}">
  {% endfor %}

  {% if options._feedPath %}<link rel="alternate" type="application/atom+xml" href="{{ options._feedPath }}" >{% endif %}

  {% if options.url %}<meta property="og:url" content="{{ page.url | canonicalUrl }}">{% endif %}
  <meta property="og:title" content="{{ title }}">
  {% if description %}<meta property="og:description" name="description" content="{{ description | markdown("inline") | striptags(true) }}">{% endif %}
  {% if opengraphImage.src %}<meta name="og:image" content="{{ opengraphImage.src | canonicalUrl }}">
  {% endif %}
  {% if opengraphImage.alt %}<meta property="og:image:alt" content="{{ opengraphImage.alt }}">{% endif %}
{% endblock %}

{% block pageTitle %}
  {{- title if title -}}
  {{- " (page " + pageNumber + " of " + pageCount + ")" if pageCount > 1 -}}
  {{- " - " + options.titleSuffix if options.titleSuffix -}}
{% endblock %}

{% block header %}
{% if options._searchIndexPath %}
<app-search index="{{ options._searchIndexPath | htmlBaseUrl }}">
  {{ nhsukHeader(options.header | currentPage(page.url)) }}
</app-search>
{% else %}
  {{ nhsukHeader(options.header | currentPage(page.url)) }}
{% endif %}
{% endblock %}

{% block footer %}
  {{ nhsukFooter(options.footer) }}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}{% endblock %}
{% endblock %}
