{% extends "template.njk" %}

{#- Set the opengraphImageUrl in parent template to either the one
    from the page metadata or else fallback to the generic one from options. -#}
{% set opengraphImage = image if image.opengraphImage else opengraphImage %}
{% set opengraphImageUrl = (opengraphImage.src | canonicalUrl) if opengraphImage else options.opengraphImageUrl %}

{# Pagination #}
{% set pageNumber = pagination.pageNumber + 1 %}
{% set pageCount = pagination.pages | length %}

{# Navigation #}
{% set breadcrumbItems = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: includeInBreadcrumbs, allowMissing: true }) | itemsFromNavigation(page.url, options) if eleventyNavigation.key %}
{% set minimumItemsInBreadcrumbs = 0 %}
{% set minimumItemsInBreadcrumbs = 1 if options.parentSite %}
{% set showBreadcrumbs = options.showBreadcrumbs != false and breadcrumbItems | length > minimumItemsInBreadcrumbs %}

{% from "components/breadcrumb/macro.njk" import breadcrumb %}
{% from "components/button/macro.njk" import button %}
{% from "components/card/macro.njk" import card %}
{% from "components/footer/macro.njk" import footer %}
{% from "components/header/macro.njk" import header %}
{% from "components/hero/macro.njk" import hero %}
{% from "components/images/macro.njk" import image as figure %}
{% from "components/hero/macro.njk" import hero %}
{% from "components/pagination/macro.njk" import pagination %}

{% from "components/document-header/macro.njk" import appDocumentHeader %}
{% from "components/document-list/macro.njk" import appDocumentList %}
{% from "components/prose-scope/macro.njk" import appProseScope %}
{% from "components/sub-navigation/macro.njk" import appSubNavigation %}

{% block head %}
  <script src="/assets/application.js" type="module"></script>

  {% for stylesheet in options.stylesheets %}
  <link rel="stylesheet" href="{{ stylesheet | canonicalUrl }}">
  {% else %}
  <link rel="stylesheet" href="{{ "/assets/application.css" | canonicalUrl }}">
  {% endfor %}

  {% if options.feedUrl %}<link rel="alternate" type="application/atom+xml" href="{{ options.feedUrl | canonicalUrl }}" >{% endif %}

  {% if options.url %}<meta property="og:url" content="{{ page.url | canonicalUrl }}">{% endif %}
  <meta property="og:title" content="{{ title }}">
  {% if description %}<meta property="og:description" name="description" content="{{ description | markdown("inline") | striptags(true) }}">{% endif %}
  {% if opengraphImage %}<meta name="twitter:card" content="summary_large_image">{% endif %}
  {% if opengraphImage.src %}<meta name="twitter:image" content="{{ opengraphImage.src | canonicalUrl }}">
  {% endif %}
  {% if opengraphImage.alt %}<meta property="og:image:alt" content="{{ opengraphImage.alt }}">{% endif %}
{% endblock %}

{% block pageTitle %}
  {{- title if title -}}
  {{- " (page " + pageNumber + " of " + pageCount + ")" if pageCount > 1 -}}
  {{- " - " + options.titleSuffix if options.titleSuffix -}}
{% endblock %}

{% block header %}
<app-search index="{{ options.searchIndexPath | canonicalUrl }}">
  {{ header(options.header) }}
</app-search>
{% endblock %}

{% block footer %}
  {{ footer(options.footer) }}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}{% endblock %}
{% endblock %}
