{% extends "layouts/base.njk" %}

{% block beforeContent %}
  {{ nhsukBreadcrumb({
    items: breadcrumbItems
  }) if showBreadcrumbs }}
{% endblock %}

{% block content %}
  {{ appDocumentHeader({
    caption: caption,
    title: title,
    description: description
  }) }}

  {{ appProseScope(content) if content }}

  {{ appHeading({
    level: 2,
    size: "l",
    title: paginationHeading
  }) if paginationHeading }}

  {{ appDocumentList({
    headingLevel: 3 if paginationHeading else 2,
    items: pagination.items
  }) }}

  {{ nhsukPagination({
    previous: {
      href: pagination.href.previous
    },
    next: {
      href: pagination.href.next
    },
    items: pagination | itemsFromPagination
  }) if pagination.pages.length > 1 }}

  {{ appRelated(related) if related }}
{% endblock %}
