{% extends "layouts/base.njk" %}

{% block content %}
  {{ appHeading({
    caption: eleventyCaption,
    title: title,
    description: description
  }) }}

  {{ appProseScope(content) if content }}
{% endblock %}
