{% extends "layouts/base.njk" %}

{% block beforeContent %}
  {{ nhsukBreadcrumb({
    items: breadcrumbItems
  }) if showBreadcrumbs }}
{% endblock %}

{% block content %}
  {{ appDocumentHeader({
    caption: caption,
    title: title,
    description: description
  }) }}

  {{ appProseScope(content) if content }}

  {% for group in groups %}
    {{ appHeading({
      level: 2,
      size: "l",
      caption: group.caption,
      title: group.title,
      description: group.description
    }) if group.title }}

    {{ appCardGroup(group) if group.items }}
  {% endfor %}

  {{ appRelated(related) if related }}
{% endblock %}
