{% extends "layouts/base.njk" %}

{% block beforeContent %}
  {{ nhsukBreadcrumb({
    items: breadcrumbItems
  }) if showBreadcrumbs }}
{% endblock %}

{% block content %}
  {{ appDocumentHeader({
    caption: caption,
    title: title,
    description: description
  }) }}

  {{ appProseScope(content) if content }}

  {% if showPagination %}
    {% set previous = collections.navigation | eleventyNavigation(sectionKey or options.homeKey) | getPreviousNavigationItem(page.url) %}
    {% set next = collections.navigation | eleventyNavigation(sectionKey or options.homeKey) | getNextNavigationItem(page.url) %}
    {{ nhsukPagination({
      classes: "nhsuk-u-reading-width",
      previousUrl: previous.url if previous,
      previousPage: previous.title if previous,
      nextUrl: next.url if next,
      nextPage: next.title if next
    }) }}
  {% endif %}

  {{ appRelated(related) if related }}
{% endblock %}
