{% extends "layouts/base.njk" %}

{% block beforeContent %}
  {{ nhsukBreadcrumb({
    items: breadcrumbItems
  }) if showBreadcrumbs }}
{% endblock %}

{% block content %}
  {{ appDocumentHeader({
    caption: caption,
    title: title,
    date: date
  }) }}

  {{ appMetadata({
    date: date,
    modified: modified,
    author: author,
    tags: tags
  }) }}

  {% call appProseScope() %}
    {{ nhsukImage({
      classes: "app-image--full",
      src: image.src,
      alt: image.alt,
      caption: image.caption | markdown("inline")
    }) if image }}

    {{ content }}
  {% endcall %}

  {% if showPagination %}
    {% set previous = collections.navigation | eleventyNavigation(sectionKey or options.homeKey) | getPreviousNavigationItem(page.url) %}
    {% set next = collections.navigation | eleventyNavigation(sectionKey or options.homeKey) | getNextNavigationItem(page.url) %}
    {{ nhsukPagination({
      classes: "nhsuk-u-reading-width",
      previousUrl: previous.url if previous,
      previousPage: previous.title if previous,
      nextUrl: next.url if next,
      nextPage: next.title if next
    }) }}
  {% endif %}

  {{ appRelated(related) if related }}
{% endblock %}
