{% extends "layouts/base.njk" %}

{% block main %}
  {{ appHero({
    caption: caption,
    title: title,
    headingClasses: headingClasses,
    description: description,
    image: image,
    startButton: startButton
  }) }}

  <main class="nhsuk-main-wrapper" id="maincontent">
    <div class="nhsuk-width-container">
      {% for group in groups %}
        {{ appHeading({
          level: 2,
          size: "l",
          caption: group.caption,
          title: group.title,
          description: group.description
        }) if group.title }}

        {{ appCardGroup(group) if group.items }}
      {% endfor %}

      {{ appProseScope(content) if content }}

      {{ appRelated(related) if related }}
    </div>
  </main>
{% endblock %}
