{% extends "layouts/base.njk" %}

{% block content %}
  {{ appHeading({
    caption: caption,
    title: title,
    description: description
  }) }}

  {{ appProseScope(content) if content }}

  {% for item in collections.sitemap | eleventyNavigation(options.homeKey) %}
    <nav class="nhsuk-contents-list">
      <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-2">
        <a class="nhsuk-link" href="{{ item.url | canonicalUrl | pretty }}">{{ item.title | smart }}</a>
      </h2>
      {% if item.excerpt %}
        <p class="nhsuk-body">{{ item.excerpt | markdown("inline") | striptags(true) }}</p>
      {% endif %}
      {{ collections.sitemap | eleventyNavigation(item.key) | eleventyNavigationToHtml({
        listElement: "ol"
      }) | smart | safe }}
    </nav>
  {% endfor %}
{% endblock %}
