{% extends "layouts/base.njk" %}

{# Create breadcrumbs manually as sitemap should be excluded from collections #}
{% block beforeContent %}
  {{ nhsukBreadcrumb({
    items: [{
      href: options.parentSite.url,
      text: options.parentSite.name
    }, {
      href: options.pathPrefix,
      text: options.homeKey
    }]
  }) if options.parentSite }}
{% endblock %}

{% block content %}
  {{ appDocumentHeader({
    title: title | default("Sitemap"),
    description: description
  }) }}

  {{ appProseScope(content) if content }}

  {% for item in collections.sitemap | eleventyNavigation(options.homeKey) %}
    <nav class="nhsuk-contents-list">
      <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-2">
        <a class="nhsuk-link" href="{{ item.url | canonicalUrl | pretty }}">{{ item.title | smart }}</a>
      </h2>
      {% if item.excerpt %}
        <p class="nhsuk-body">{{ item.excerpt | markdown("inline") | striptags(true) }}</p>
      {% endif %}
      {{ collections.sitemap | eleventyNavigation(item.key) | eleventyNavigationToHtml({
        listElement: "ol"
      }) | safe }}
    </nav>
  {% endfor %}
{% endblock %}
