{% extends "layouts/base.njk" %}

{% block content %}
  {{ appHeading({
    caption: caption,
    title: title,
    description: description
  }) }}

  <ul class="nhsuk-list nhsuk-list--bullet">
    {% for tag in collections.tags %}
    <li>
      <a class="nhsuk-link" href="{{ tag | slug }}">{{ tag }}</a>
      ({{ collections[tag] | length }})
    </li>
    {% endfor %}
  </ul>
{% endblock %}
